/*  Theme Name: BusinessSupermarketTheme 
    URI: http://www.business-supermarket.com 
    Description: This is a custom theme developed for Business-Supermarket.com
    Author: Jaginder Singh Mudhar
    Author email: dsp7@blueyonder.co.uk
    Date: 11/01/2015
    Version: 0.1
*/

/* -----------------------------------------------------------------------------
    Default styles
------------------------------------------------------------------------------*/
h1, h2, h3 {
	font-weight: normal;
	margin: 0 0 0 0;
}
h1 {
	font: 32px/1.2 AuraBoldRegular, Helvetica, Arial;
	color: #1dbfd8;
}
h2 {
}
h3 {
}
p {
	margin: 0 0 8px 0;
}
a {
	color: #808080;
	text-decoration: none;
}
a:hover {
	color: #00acce;
}
blockquote {
}
blockquote p {
}
ul, ol {
	margin: 0 0 10px 0;
}
@font-face {
	font-family: 'AuraBoldRegular';
	src: url('fonts/aurabol-webfont.eot');
	src: url('fonts/aurabol-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/aurabol-webfont.woff') format('woff'), url('fonts/aurabol-webfont.ttf') format('truetype'), url('fonts/aurabol-webfont.svg#AuraBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AuraLightRegular';
	src: url('fonts/auralig-webfont.eot');
	src: url('fonts/auralig-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/auralig-webfont.woff') format('woff'), url('fonts/auralig-webfont.ttf') format('truetype'), url('fonts/auralig-webfont.svg#AuraLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none;
} /* this stops chrome adding a border around input and selected fields */
a:active, a:focus {
	outline: none;
} /* Required to remove IE outline on anchor element */
body, html {
	min-height: 100%;
}
body {
	background: #e3e3e3;
	background: -webkit-linear-gradient(top, #e3e3e3 0%, #FFF 100%);
	background: -moz-linear-gradient(top, #e3e3e3 0%, #FFF 100%);
	background: -o-linear-gradient(top, #e3e3e3 0%, #FFF 100%);
	background: -ms-linear-gradient(top, #e3e3e3 0%, #FFF 100%);
	background: linear-gradient(top, #e3e3e3 0%, #FFF 100%);
	font: 0.7em Verdana, Helvetica, Arial;
}
.screen-reader-text {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
#shadow-wrap {
	width: 1025px;
	margin: 0 auto;
}
#shadow-wrap1{
	width: 1025px;
	margin: 0 auto;
}
#leftcontent {
	float: left;
	width: 75.2%;
}
#leftcontent1 {
	float: left;
	width: 75.2%;
}
#leftcontent #carousel-wrapper {
}
#column-1 {
	float: left;
}
#menu-container {
/*	position: relative;*/
	background: url(../images/top-menu-border.png);
	background-repeat: no-repeat;
	width: 1025px;
	height: 160px;
	z-index: 10;
}
#menu-container-user {
           /* position: relative;*/
            background: url(../images/top-menu-border_login.png);
            background-repeat: no-repeat;
            width: 1025px;
            height: 160px;
            z-index: 10;
}
/*
#menu-container-user {
	position: relative;
	background: url(../images/top-menu-border-user.png);
	background-repeat: no-repeat;
	width: 1025px;
	height: 160px;
	z-index: 10;
}
*/

#rightbar {
	float: right;
	width: 22%;
	margin-right: 1.5%
}
#column-2 {
	float: left;
	margin-left: -25px;
}
#main-content {
	width: 675px;
	margin-left: 25px;
	margin-top: 10px;
	padding-left: 50px;
}
/* -----------------------------------------------------------------------------
    Text colour and font styles
------------------------------------------------------------------------------*/
.Orange {
	font: 20px AuraBoldRegular, Helvetica, Arial;
	color: #e2ae70;
}
.Purple {
	font: 20px AuraBoldRegular, Helvetica, Arial;
	color: #ad7d9b;
}
.Green {
	font: 20px AuraBoldRegular, Helvetica, Arial;
	color: #b7bf6b;
}
.Blue {
	font: 20px AuraBoldRegular, Helvetica, Arial;
	color: #1dbfd8;
}
.blue-font {
	color: #1dbfd8;
}
.darkGrey-text {
	color: #808080;
}
.darkMauve-text {
	color: #A84793;
}
/* -----------------------------------------------------------------------------
    Site wide generic styles
------------------------------------------------------------------------------*/
.clear, .clearboth {
	clear: both;
}
.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .group, *:first-child+html .group {
	zoom: 1;
} /* First selector = IE6, Second Selector = IE 7 */
img {
	border-style: none;
}
.hideme {
	visibility: hidden;
}
.collapseme {
	visibility: collapse;
}
/* -----------------------------------------------------------------------------
    Header menu styles
------------------------------------------------------------------------------*/
#logo {
	position: absolute;
	left: 805px;
	top: 20px;
}
#logo img {
	padding-left: 6px;
}
#log-wrap {
	text-align: center;
}
/* -----------------------------------------------------------------------------
    Error reporting module styles
------------------------------------------------------------------------------*/
.feedback {
	color: #900;
	font-weight: bold;
	height: 20px;
	left: 166px;
	padding: 0 !important;
	position: absolute;
	top: -12px;
	width: auto;
}
.helpico
{
	width:20px; height:20px; 
	padding-left:5px;
	padding-right:5px
}
.feedbacklink
{
	width:100px !important
}
.form_heading1
{
	width:98% !important; height:25px !important; padding-top:10px !important;
	color:#000 !important; padding-left:10px !important; font-size:14px !important
}
#logo .tooltip1:hover img {
	margin-top: 0 !important;
	margin-left: 0 !important;
}
#logo a.tooltip1 {
	display: block;
}
.feedback a {
	color: #900;
	text-decoration: none;
	cursor: pointer
}
.feedback a:hover {
	color: #900;
	text-decoration: none;
	cursor: help
}
.feedback_cont {
	top: -82px !important;
	right: 215px;
	display: none;
	left: 50% !important;
	margin: auto 0 auto 103px !important;
	position: fixed !important;
}
.close_feed {
	top: -6px !important
}
.close_button {
	margin-left: 11px !important;
	width: 100px !important;
	float: left !important
}
.feed_inner {
	background-color: #fff;
	border: 2px solid #A14B93;
	display: none;
	height: auto;
	width: 392px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 10px
}
.button_feed {
	width: 200px;
	height: auto;
	margin-left: 290px
}
.feedwrap {
	width: 98%;
	height: 35px;
	padding-top: 10px;
	color: #000;
	padding-left: 10px;
	font-size: 14px
}
.feed_heading {
	width: 98% !important;
	height: 25px !important;
	padding-top: 10px !important;
	color: #000 !important;
	padding-left: 10px !important;
	font-size: 14px !important
}
.textarewrap {
	height: auto
}
.span {
	float: left;
	margin-right: 10px
}
.feedbackinput {
	width: 358px;
	border: solid 1px #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 35px;
	padding-left: 10px
}
.feedbacktextarea {
	width: 367px;
	border: solid 1px #999999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 200px
}
.u-email-box1 {
	left: 50%;
	margin: auto 0 auto -225px;
	position: absolute;
	text-align: center;
	width: 395px;
	z-index: 1000;
	top: 50px
}
.thanksp {
	color: #F19930;
	font: 20px AuraBoldRegular, Helvetica, Arial;
	text-align: center;
}
.feedbacthanks {
	display: block !important;
}
.closebutton_pop {
	left: 360px;
	position: relative;
	top: -7px;
	z-index: 100;
}
.thanks_popup {
	background-color: #333333;
	display: none;
	height: 100%;
	margin-top: -12px;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 116;
}
/* -----------------------------------------------------------------------------
    Top Slider styles
------------------------------------------------------------------------------*/
.home-slider-wrap {
	width: 700px;
	float: left;
	margin-top: -112px;
	margin-left: 15px;
} /* positions the slider */
#gallery-navigation {
	position: relative;
	margin-top: -80px;
	margin-left: 10px;
	z-index: 20;
} /* positions the 5 navigation buttons */
.paneloverlay-wrapper {
	position: absolute;
	top: 90px;
}
.paneloverlay-top {
	background-image: url('images/pink-bubble-top.png');
	background-repeat: no-repeat;
	height: 18px;
	width: 244px;
}
.paneloverlay {
	background-image: url('images/pink-bubble-background.png');
	background-repeat: repeat;
	width: 244px;
}
.speech-bubble {
	background: #8bcad8;
	opacity: 0.8;	/*  filter:alpha(opacity=80); /* For IE8 and earlier */
	font-family: AuraBoldRegular, Helvetica, Arial;
	font-size: 22px;
	color: white;
	margin: 0;
	padding: 10px;
	padding-bottom: 22px;
	border-radius: 10px;
	z-index: 9999;
    position: relative;
}
.speech-bubble a {
	background: none repeat scroll 0 0 #02AFCD;
	display: block;
	float: right;
	font-size: 10px;
	margin-right: -10px;
	margin-top: 1px;
	padding: 4px;
	color: #FFF;
	text-decoration: none;
	border-radius: 10px 0 10px 0;
}
.speech-bubble a:hover {
	color: #1DBFD8;
}
.breadcrumb {
	position: relative;
	z-index: 10;
	clear: both;
	margin-left: 148px;
	color: #808080;
}
#search-tab {
	position: absolute;
	z-index: 100;
	margin-left: 38px;
	margin-top: -296px;
}
#search-tab input[type=text] {
	padding: 2px 0px 2px 5px;
	margin-right: -5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #5c5c5c;
}
#search-tab #searchbtn {
	background: url("../images/buttons/search-button.png") no-repeat scroll left center transparent;
	height: 22px;
	width: 30px;
	border: medium none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top
}
.stepcarousel {
	position: relative;
	border: 0px solid black;
	/*overflow: scroll;*/
	width: 760px; /*Width of Carousel Viewer itself*/
	height: 350px; /*Height should enough to fit largest content's height*/
}
.stepcarousel .belt {
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}
.stepcarousel .panel {
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 10px; /*margin around each panel*/
	width: 750px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
#how-to-div {
	position: relative;
	width: 230px;
	margin-left: 20px;
	float: left;
}
#how-to-div a {
	display: block;
	line-height: 21px;
	margin-bottom: 0.6em;
}
#how-to-div a img {
	margin-right: 5px;
	float: left;
}
/* -----------------------------------------------------------------------------
    Copy Column styles
------------------------------------------------------------------------------*/
#copy-column-1 {
	width: 340px;
	float: left;
	padding: 5px 10px 5px 0px;
	line-height: 150%;
	color: #808080;
	font-weight: bold;
}
#copy-column-2 {
	float: left;
	width: 310px;
	padding: 5px 0px 5px 5px;
	line-height: 150%;
	color: #999999;
}
#copy-column-single {
	width: 575px;
	float: left;
	padding: 5px 5px 5px 5px;
}
#robby-popup {
	position: absolute;
	left: 270px;
	z-index: 2;
}
/* -----------------------------------------------------------------------------
    Login panel styles
------------------------------------------------------------------------------*/
#login-box {
	position: relative;
	z-index: 10;
	padding: 10px;
	color: #52cedb;
	min-height: 160px;
}
#login-box, #login-box .sb-inner {
	background: #fff;
	box-shadow: 0 3px 3px #666666;
	border: 1px solid #1DBFD8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
#login-box .sb-border {
	background: #1dbfd8;
}
#lostpass-box {
	margin: 5px;
	min-height: 100px;
}
#passreset-box {
	margin-left: -25px;
margin: 5px 5px 5px 5px;
	min-height: 100px;
}
#box2 {
	position: relative;
	z-index: 10;
	padding: 10px;
	margin: 14px 0 10px 0;
	color: #52cedb;
	box-shadow: 0 3px 3px #666666;
	border: 1px solid #1DBFD8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-bottom: 0;
} /* bottom Click here panel under login box */
#box2, #box2 .sb-inner {
	background: #fff;
}
#box2 .sb-border {
	background: #1dbfd8;
}
#box2 h3 {
	padding: 10px 0 0 20px;
}
.image-robo-torso {
	position: absolute;
	margin-left: -80px;
	position: absolute;
	top: 272px;
}
.image-robo-hands {
	position: absolute;
	z-index: 20;
	margin-left: -80px;
	position: absolute;
	top: 272px;
}
#login-area, #lostpass-box {
	margin-left: -25px;
	margin: 5px 5px 5px 5px;
}
#login-area li, #lostpass-box li {
	list-style-type: none;
	clear: both;
}
#login-area li span {
	float: left;
	width: 160px;
}
#login-area input, #lostpass-box input {
	border-radius: 5px;
	border: 1px solid #999;
	padding: 3px;
	margin-bottom: 5px;
	width: 97%
}
#login-area input:focus {
	border: 1px solid #E8B10A;
}
span.buttons-box {
	float: left;
	width: 30px !important;
}
.sign-option img {
}
.sign-option ul li {
	text-align: right;
	padding: 5px 0;
}
.click-here {
	float: right;
	margin-top: 5px;
	padding-right: 14px;
	text-align: justify;
	width: 165px;
}
#lostpass-inst {
	display: none;
}/* styles bttm panel of form Click here to become a member */
/* -----------------------------------------------------------------------------
    Support / Service panel styles
------------------------------------------------------------------------------*/
#robby-torso {
	position: relative;
	margin-left: 30px;
	z-index: 2;
}
#box3 {
	margin-top: -25px;
	color: #000;
	box-shadow: 0 3px 3px #666666;
	border: 1px solid #1DBFD8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
.tab_content {
	padding: 10px;
}
.tab_content {
	display: none;
}
#tabs {
	margin-bottom: 0;
}
#tabs li {
	list-style-type: none;
}
#tabs li a {
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 5.3px;
	width: 45.26%;
	display: block;
	background: #1DBFD8;
}
#tabs li a:hover {
	color: #888;
}
#tabs li.active a {
	color: #1DBFD8;
	background: #fff;
	cursor: default;
}
#tabs li:first-child a {
	border-radius: 0 0 0 9px;
	-webkit-border-radius: 0 0 0 9px;
}
#tabs li a.lastradius {
	border-radius: 0 0 8px 0;
	-webkit-border-radius: 0 0 8px 0;
}
#box3, #box3 .sb-inner {
	background: #fff;
}
#box3 .sb-border {
	background: #1dbfd8;
}
#box3 a {
	text-decoration: none;
	color: #808080;
}
#box3 a:hover {
	color: #1DBFD8;
}
/* -----------------------------------------------------------------------------
    User Registration styles
------------------------------------------------------------------------------*/
.sign-up-menu {
	padding: 0;
	clear: both;
}
.sign-up-menu li {
	display: inline;
}
.sign-up-menu li a {
	background: #ccf;
	padding: 10px;
	float: left;
	border-right: 1px solid #ccf;
	border-bottom: none;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.sign-up-menu li.active a {
	background: #eef;
}
.sign-up-content {
	float: left;
	clear: both;
	border: 1px solid #ccf;
	border-top: none;
	border-left: none;
	background: #eef;
	padding: 10px 20px 20px;
	width: 400px;
}
.sign-up-tab_content {
	padding: 1%;
	background: #fff;
	min-height: 400px;
	width: 96.7%;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: none;
	border: 1px solid #ac5099;
	border-top: none;
}
.sign-up-tabss, .registration-box {
	min-height: 300px;
	margin-left: 12px;
	margin-top: 8px;
	width: 99.5%;
	position: relative;
}
.registration-box .close_caform {
	position: absolute;
	top: 20px;
	float: right;
	right: 20px;
	z-index: 100;
}
.lpa {
	margin-left: -4px !important;
}
.sign-option li span {
	float: left;
	width: 160px;
}
.lpb {
	min-height: 61px;
}
#dragon_register {
	position: relative;
	float: right;
	top: 58px;
	right: 29px;
}/* positions the Register for account tab contents */
#dragon_register a {
	color: #EBEBEB;
}
#dragon_register a:hover {
	color: #FFF;
}
#show-password {
	background: url(../images/buttons/eye-close.png) no-repeat;
	border: medium none;
	height: 12px;
	width: 16px;
	margin-top: 8px;
	cursor: pointer !important;
        float: right;
}
#hide-password {
	background: url(../images/buttons/eye-open.png) no-repeat;
	border: medium none;
	height: 12px;
	margin-top: 8px;
	width: 16px;
	cursor: pointer !important;
        float: right;
}
.confirm-email {
	background-color: #FFFFFF;
	display: none;
	margin-top: -12px;
	position: absolute;
	width: 742px;
        height: 367px;
	z-index: 99;
}
.confirm-email h2 {
	color: #1DBFD8;
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}

.orange-color {
    color: #f19930;
    font: 18px Helvetica,Arial;
    text-align: center;
}

.mauve-color {
	color: #A84793;
	font: 18px AuraBoldRegular, Helvetica, Arial;
	text-align: center;
} /* Orange text in confirm email pop up */
#user-registerform-form a.tooltip:hover { color:#808080;}
#business-registerform-form a.tooltip:hover{ color:#808080; }
/* -----------------------------------------------------------------------------
    Catergory tabs styles
------------------------------------------------------------------------------*/
#sign-up-tabs {
	margin-bottom: 0;
}
#sign-up-tabs li {
	list-style-type: none;
	display: inline;
}
#sign-up-tabs li a {
	float: left;
	text-decoration: none;
	color: #A84793;
	padding: 5.3px 0;
	width: 16.24%;
	display: block;
	background: #ecdeed;
	height: 30px;
	font-size: 1.1em;
	text-align: center;
	border-radius: 15px 15px 0 0;
	font-family: AuraBoldRegular, Helvetica, Arial;
	-webkit-border-radius: 15px 15px 0 0;
	border: 1px solid #ac5099;
	border-bottom: none;
}
#sign-up-tabs li.active a {
	color: #1DBFD8;
	background: #fff;
}
#sign-up-tabs li.active a:hover {
	cursor: default;
}
#ssign-up-tabs li:first-child a {
	border-radius: 0 0 0 9px;
	-webkit-border-radius: 0 0 0 9px;
}
#ssign-up-tabs li a.lastradius {
	border-radius: 0 0 9px 0;
	-webkit-border-radius: 0 0 9px 0;
}
/* -----------------------------------------------------------------------------
    Accordion styles
------------------------------------------------------------------------------*/
#accordion h3 {
	cursor: pointer;
	border-radius: 10px;
	-webkit-border-radius: 10px 10px 0 0;
	margin-bottom: 0;
	padding: 10px 5px;
	font-size: 16px;
	font-family: AuraBoldRegular, Helvetica, Arial;
	background: #fff;
	margin-top: 0;
}
h3.aorange {
	color: #F19930;
}
h3.agreen {
	color: #94BE36;
}
h3.adarkgreen {
	color: #73c6a1;
}
.aorange {
	border: 2px solid #F19930;
}
.agreen {
	border: 2px solid #94BE36;
}
.adarkgreen {
	border: 2px solid #73c6a1;
}
.aorange li img {
	margin-right: 5px;
	float: left;
}
.aorange li {
	line-height: 20px;
}
.adarkgreen > ul > li {
	border-bottom: 1px solid #73c6a1;
	padding-right: 10px;
	padding-bottom: 5px;
}
.aorange a:hover {
	color: #F19930;
}
.agreen a:hover {
	color: #94BE36;
}
.adarkgreen a:hover {
	color: #73c6a1;
}
.coloradgreen {
	color: #73c6a1;
}
.coloragreen {
	color: #94BE36;
}
.accordian-box {
	color: #555555;
	background: #fff;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	margin-top: -8px;
	border-top: none;
	padding: 5px !important;
	font-size: 11px;
	height: auto;
	position: relative;
	overflow: hidden !important;
}
.accordian-box li {
	list-style-type: none;
	margin-bottom: 10px;
}
.accordian-box li label {
	top: -8px;
	padding: 1px 1px;
	position: relative;
	cursor: pointer;
	float: right;
}
#rightbar .ui-widget-content a {
	color: #808080;
}
.accordian-box li label:hover span {
	display: block;
}
.accordian-box li label span {
	padding: 10px 10px 0;
	top: 30px;
	right: -30px;
	background: #fff;
	border: 1px solid #000;
	width: 150px;
	height: auto;
	position: absolute;
	display: none;
}
.up-arrow {
	display: block;
	position: absolute;
	top: -21px;
	right: 22px;
}
.accordian-box li label span li a:hover {
	color: #00acca;
}
.accordian-box li label span li {
	border-bottom: 1px solid #000;
}
.accordian-box li label span li:last-child {
	border-bottom: none;
}
.accordian-wrap {
	position: relative;
	font-family: Verdana, Helvetica, Arial;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
	margin-top: -20px;
}
/* -----------------------------------------------------------------------------
    User profile page styles
------------------------------------------------------------------------------*/
.registration-content {
	padding: 3% 1%;
	position: relative;
	background: #fff;
	min-height: 632px;
	width: 96.8%;
	-webkit-border-radius: 0 10px 10px 10px;
	-moz-border-radius: 0 10px 10px 10px;
	border-radius: 0 10px 10px 10px;
	border: 1px solid #ac5099;
}
#registration-tabs a {
	float: left;
	text-decoration: none;
	color: #1DBFD8;
	margin-bottom: -1px;
	padding: 5.3px 0;
	width: 15.5%;
	display: block;
	background: #fff;
	height: 15px;
	font-size: 1.1em;
	text-align: center;
	border-radius: 15px 15px 0 0;
	font-family: AuraBoldRegular, Helvetica, Arial;
	-webkit-border-radius: 15px 15px 0 0;
	border: 1px solid #ac5099;
	border-bottom: none;
	z-index: 2;
	position: relative;
}
.reg-left {
	float: left;
	width: 378px;
}
.reg-left .hdn_msg {
	display: block;
	color: #666;
	margin-left: 65px;
}
.reg-right {
	float: right;
	width: 350px;
	/*margin-right: 12px;*/
}
/* Form Table CSS */
#reg-table {
	margin-left: 4px; /* added left & top margin to profile details */
	margin-top: 4px;
	font: 1em Verdana, Helvetica, Arial;
        width: 378px; /* Do not adjust sets width of user and business reg forms */
}
#reg-table input[type=text], #reg-table input[type=password], #reg-table select {
	width: 236px; /* sets the business user reg table width */
	border: none;
	background: none;
}
#User_drg_gender,
#User_co_title,
#User_drg_country {
    /*width: 255px !important;
    float: right;*/
}
#reg-table tr td {
	background: #f1e5e2;
	border: 1px solid #f1e5e2;
	vertical-align: middle;
	margin: 5px!important;/*padding: 5px;*/
        text-align: left;
}
td {
	padding: 2px;
}
#reg-table td input {
    cursor: text;
}
#reg-table tr td.blank {
	background: none;
	border: none;
}/* this sets the focus outline    This has to be managed by javascript as you cannot select parent elements in CSS!*/
#reg-table .fieldinfocus {
	border: 1px solid greenyellow;
	background: #fff
}
#reg-table tr td.hidden-profile {
	background: #ebebeb;
}
#reg-table tr td select {
	cursor: pointer;
        width: 267px;
}
#reg-table .mandatory-field {
	background: #fff;
	border: 1px solid #fff;
	color: red
}
#update-table {
	margin-left: 4px; /* added left & top margin to profile details */
	margin-top: 4px;
	font: 1em Verdana, Helvetica, Arial;
	width: 388px;
}
#update-table input[type=text], #update-table input[type=password], #update-table select {
	width: 222px;
	border: none;
	background: none;
}
#update-table tr td {
	background: #f1e5e2;
	border: 1px solid #f1e5e2;
	vertical-align: middle;
	margin: 5px!important;
	padding: 5px;
}
#update-table tr td.blank {
	background: none;
	border: none;
}/* this sets the focus outline    This has to be managed by javascript as you cannot select parent elements in CSS!*/
#update-table .fieldinfocus {
	border: 1px solid greenyellow;
	background: #fff
}
#update-table tr td.hidden-profile {
	background: #ebebeb;
}
#update-table tr td select {
	cursor: pointer;
}
#update-table .mandatory-field {
	background: #fff;
	border: 1px solid #fff;
	color: red
}
tr.reg-tab-head td {
	background: #fff;
}
#reg-table2 {
	text-align: center;
	margin-right: 10px; /* moved right column to the left */
	float: right;
}
#terms-conditions {
	margin-top: 20px; /* added space between profile btn & robot head */
	margin-bottom: 34px; /* Moved captcha down */
	font: 1em Verdana, Helvetica, Arial;
}
#terms-conditions img {
	margin-bottom: -36px
}
#terms-conditions p {
	text-align: justify;
	padding: 20px 10px;
	border: 2px solid #C659B0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: -5px 5px 5px #999;
	-webkit-box-shadow: -5px 5px 5px #999;
}
#terms-conditions p a {
	color: #1DBFD8;
}
#file {
	background: #f1e5e2;
	border: none;
}
.mandatoryerror {
	border: 1px solid #F00!important;
	background: #fff!important;
}
.validtext {
	border: 1px solid #62d734!important;
	background: #fff!important;
}
#div_upload_big {
	height: 250px;
	width: 250px;
}
.side-robot-upload {
	position: absolute;
	top: 128px;
        left: 62px;
}
#upload-frame {
	width: 380px;
	margin-left: 194px;
}
#cont_back_div {
	display: none;
	width: 98%;
	z-index: 100;
	position: absolute;
	top: 38px;
	left: 5px;
	background: #fff;
	height: 90%;
}
#drf_dod, #drf_dom, #drf_doy {
	width: 40px!important;
}
#inner_cont_div {
	height: 94%;
	width: 713px;
	margin: 0 auto;
}
.pop-up {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: -5px 5px 5px #5c5c5c;
	-webkit-box-shadow: -5px 5px 5px #5c5c5c;
	padding: 10px;
	margin: 68px auto 0;
	border: 1px solid #A84793;
}
.toc-list {
	width: 540px;
	text-align: justify;
	padding-left: 30px;
}
.RtnBtn {
	float: right;
	position: absolute;
	right: 30px;
	top: 15px;
}
.pop-up-content {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	background: #fff;
	margin-top: 27px;
}
#pop-up-toc {
	height: 234px;
	overflow: auto;
	overflow-x: hidden;
	padding: 10px;
	text-align: justify;
	text-decoration: none;
}
.my-account {
	min-height: 300px;
	margin-left: 25px;
	margin-top: 20px;
	width: 94%;
	position: relative;
}
#my-account-tabs a {
	float: right;
	text-decoration: none;
	color: #1DBFD8;
	margin-bottom: -1px;
	padding: 5.3px 0;
	width: 16.24%;
	display: block;
	background: #fff;
	height: 15px;
	font-size: 1.1em;
	text-align: center;
	border-radius: 15px 15px 0 0;
	font-family: AuraBoldRegular, Helvetica, Arial;
	-webkit-border-radius: 15px 15px 0 0;
	border: 1px solid #ac5099;
	border-bottom: none;
	z-index: 2;
	position: relative;
}
.my-account-links {
	width: 110px;
	float: left;
	border-right: 2px solid #A84793;
	font-size: 1.2em; /* increase menu fontsize */
	margin-top: -4px; /* centralised menu with divider */
}
.my-account-links li a {
	font-family: AuraBoldRegular, Helvetica, Arial;
	display: block;
	margin: 15px 0;
	color: #dbb0dd
}
.my-account-links li a.my-active-link {
	color: #a84793;
}
.my-account-links li a:hover {
	color: #a84793;
}
.my-account-left {
	float: left;
	width: 320px;
	min-height: 400px;
	position: relative;
}
.my-account-left .hdn_msg {
	display: block;
	color: #666;
	margin-left: 44px;
}
.my-account-right {
	float: right;
	width: 310px; /* Increased size to fit Important Notice */
}
.my-account-content {
	padding: 3% 1%;
	position: relative;
	background: #fff;
	min-height: 540px;
	-webkit-border-radius: 10px 0 10px 10px;
	-moz-border-radius: 10px 0 10px 10px;
	border-radius: 10px 0 10px 10px;
	border: 1px solid #ac5099;
}
#terms-conditions p .in-box {
	text-align: center; /* centered Important Notice heading */
	display: block;
}
td.editable {
	background: #ebebeb!important
}
td.edit-link {
	background: #fff!important;
	border: #fff!important
}
/*pop ups*/
.my-account-popup-box {
	border: 2px solid #C659B0;
	border-radius: 10px 10px 10px 10px;
	box-shadow: -5px 5px 5px #999999;
	padding: 20px 5px;
	padding: 10px 40px 40px;/*   height: 420px;*/
	background: #fff;
}
.my-account-popup-box h2 {
	color: #1dbfd8;
        font-size: 25px;
        margin: 10px 0;
        text-align: center;
}/* email popup*/
.update-email-box, .slogan {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 600px; /* increased height to cover previous page */
	position: absolute;
	width: 620px;
	display: none; /* display block to see popup*/
	z-index: 99999999;
}
.u-email-box {
	width: 540px;
	text-align: center;
        margin: -70px auto;
}
.popup_center {	 
}
.slogan .slogan-box {
	margin-top: 20px !important;
}
.pu-submit {
	background: url(../images/buttons/small-button-normal-state.png) no-repeat center center;
	border: none;
	padding: 10px 60px;
	color: #fff;
	font-weight: bold;
	text-align: center!important;
	margin: 10px auto;
	font-size: 12px;
}
.pu-close {
	float: right;
	line-height: 12px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #999;
	padding: 3px 1px;
	margin-right: -30px;
	margin-top: -20px;
	background: #fff
}/* update password pop up*/
.update-password-box {
	background-color: #FFFFFF;
	margin-left: 4px;
	position: absolute;
	width: 620px;
	display: none;
	height: 600px;
	z-index: 99999999 !important
}
.update_height {
    height: 732px !important;
}
/* new password pop up*/
.new-password-box {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 520px; /*increased height to cover previous page */
	margin-left: 118px;
	position: absolute;
	width: 620px;
}
.u-password-box {
	width: 480px;
	text-align: center;
	margin: 0 auto
}
.up-th th {
	font-weight: normal!important;
	font-size: 10px!important;
	text-align: center!important;
}/* update memorable pop up*/
.update-mword-box {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 470px; /* increased height to cover previous page */
	margin-left: 108px;
	position: absolute;
	width: 620px;
	display: none; /* display block to see popup*/
}/*sucess email popup*/
.success-email-box {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 420px;
	margin-left: 55px;
	position: absolute;
	width: 640px;
	display: block; /* display block to see popup*/
}
.success-password-box {
	background: none repeat scroll 0 0 #FFFFFF;
	height: 420px;
	margin-left: 55px;
	position: absolute;
	width: 640px;
	display: block; /* display block to see popup*/
}/*photo upload box*/
.photo-upload-box {
	background: none repeat scroll 0 0 #FFFFFF;
	position: absolute;
	width: 630px;
	height: 648px;
	margin-top: -5px;
	z-index: 9999999;
	display: none; /* display block to see popup*/
}
.biz_modal_box {
	background: none repeat scroll 0 0 #ffffff;
	display: none;
	height: 93%;
	margin-left: 12px !important;
	margin-top: 16px !important;
	position: absolute;
	width: 734px !important;
	z-index: 9999999;
}
.error_msg {
	color: red;
	text-align: center;
}
#login-logout {
	margin-left: 10px!important;
	margin-top: -5px!important;
}
#login-logout li {
	line-height: 12px;
	white-space: nowrap;
	text-align: center;
	color: #1DBFD8;
}
#login-logout li a {
	display: inline-block;
	color: grey!important;
	padding: 0;
}
#login-logout li a:hover {
	color: #1DBFD8!important
}
.login_sbmt {
	border: none;
	background: none;
	width: 33px;
	margin: 0;
	cursor: pointer;
	display: block;
}
.my-account-links ul li {
	list-style-type: none;
}
#my-account-tabs {
	margin-top: 10px;
} /* Margin added above tab area container */
td.Boarder img {
	border: 2px solid #A84793;
	padding: 2px;
} /* border around Capatcha image */
.my-account-box {
	margin: 10px 0 0 15px;
}/* submit listing page styles */
.left-content, .right-content {
	float: left;
	width: 300px;
	font-size: 0.8em;
	text-align: justify;
}
.update-currency-box {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	margin-top: -5px;
	position: absolute;
	width: 630px;
	z-index: 9999999;
	height: 600px;
}
#drf_pass, #Business_drg_pass {
	width: 184px !important;
}
.blue_head {
	font-size: 13px;
}
.com_logo_head {
	color: #808080;
	font-size: 13px;
	font-weight: bold;
}
.Boarder #preview_logo {
	margin-top: 15px;
}
.pmsg {
	background: none repeat scroll 0 0 #ffffff;
	display: none;
	height: 700px;
	margin-top: -5px;
	position: absolute;
	width: 630px;
	z-index: 9999999;
}
/* Update currency popup */
.pmsg h2 {
	font-size: 20px;
	margin: 20px 0;
}
.pmsg .my-account-popup-box {
	padding: 10px 24px 40px;
}
.pmsg .middle {
	left: 4px;
}
#terms-conditions .floatRight {
	color: #a84793;
	float: right;
}
.golden {
    color: #e5a04d !important;
}
/* -----------------------------------------------------------------------------
    Styles all the form / table column and row data
------------------------------------------------------------------------------*/
.tableHeading {
	color: #A84793;
	margin-right: 10px;
	cursor: default;
}
.GreyRow td {

	height: 40px;
	background-color: #e6e7e8;
    border: 1px solid #c7c4e2;
} /* Gives table row initial color on page load. Not needed after mouse over */
.MauveRow {
	height: 40px;
	background-color: #c7c4e2;

} /* Gives table row initial color on page load. Not needed after mouse over */
ul#navlist {
	text-align: right;
	padding: 10px 0 10px 0;
	margin: -36px 4px 0 0;
	width: 160px;
	float: right;
	height: 14px;
	list-style-type: none;
	color: #808080;
}
ul#navlist li {
	display: inline;
}
ul#navlist li a {
	width: 5.5em;
}
#tabs_content_container .my-account-content {
	width: 96.7%;
	border-radius: 0 0 10px 10px;
	border-top-color: #fff;
}
.noteTemp {
	text-align: center;
	font-size: 1.5em;
	color: #808080;
	padding-top: 150px;
}
.help-form {
	padding: 5px;
	overflow: hidden;
	background: #E3E7EA;
}
.help-form .send-button {
	padding: 25px 5px 15px;
	background: #EFF5F9 url(../images/help.png) no-repeat center 6px;
	color: #4C5056;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-right: 10px;
	float: left;
}
.help-form .help_btn_labels {
	padding: 5px 20px;
	background: #EFF5F9;
	border: 1px solid #C1C6CD !important;
	color: #4C5056;
	float: left;
	margin-right: 5px;
}
.help_form_header input[type='text'] {
	width: 75%;
	float: left;
	padding: 3px;
}
.help_form_body {
	padding: 17px 51px;
	border: 1px solid #C1C6CD !important;
	margin-top: 3px;
	height: 315px;
}
.help_form_body ul li {
	list-style: none;
	width: 100%;
	margin: 23px 0;
	display: block;
}
.help_form_body ul li input[type='text'] {
	width: 80%;
	padding: 5px;
	background: #D1D3D4;
	border-style: none;
	float: right;
}
.help_form_tabs {
	width: 90%;
	float: left;
}
.large_width {
	width: 100%;
}
/* -----------------------------------------------------------------------------
    Bottom ticker tape styles
------------------------------------------------------------------------------*/
.page_content {
	background: none repeat scroll 0 0 #fff;
	border: 2px solid #4cc1ec;
	border-radius: 12px;
	margin: -12px 0 0 41px;
	padding: 4px 15px;
}
.page_content p {
	margin: 0;
}
/* -----------------------------------------------------------------------------
    Bottom 3 panel Slider styles
------------------------------------------------------------------------------*/
.content-cara {
	height: 180px;
	position: relative;
}
.click img {
	background: #56555c url(../images/glass.png) 0 50% no-repeat;
	border-radius: 5px;
	float: right;
} /* arrow link on 3 panel carousel*/
.smallpanel {
	float: left;
	margin: 5px;
	width: 210px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
.click {
	font-size: 10px;
}
.carousel-box {
	height: 207px;
	margin-right: 8px;
	padding: 10px;
	border-radius: 10px;
}
.carousel-box h2 {
	font: 20px AuraBoldRegular, Helvetica, Arial;
	width: 130px;
	float: left
}
.carousel-box-2 h2 {
	font: 14px AuraBoldRegular, Helvetica, Arial;
	text-align: center;
}
.carousel-box .float-img {
	position: absolute;
	right: -30px;
	top: -21px;
}
#carousel-wrapper-2 {
	padding-left: 40px;
	position: relative;
}/* start carousel */
.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 20px 43px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	width: 75px;
	height: 245px;
	padding: 40px 20px;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 643px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
	width: 75px;
	height: 245px;
}
.jcarousel-skin-tango .jcarousel-item {
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	width: 215px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}/*Horizontal Buttons*/
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 27px;
	right: 5px;
	width: 32px;
	height: 230px;
	cursor: pointer;
	background: transparent url(../images/buttons/carousel-arrow-right-blue.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 27px;
	left: 5px;
	width: 32px;
	height: 230px;
	cursor: pointer;
	background: transparent url(../images/buttons/carousel-arrow-left-blue.png) no-repeat 0 0;
}/* end carousel end */
.carousel-box p {
	color: #808080;
	font-size: 11px;
}/* stepcarousel end */
.purple {
	border: 1px solid #A14B93;
	box-shadow: 0 3px 3px #666666;
	background: #fff;
}
.purple .click {
	color: #a14b93;
}
.purple h2 {
	color: #a14b93;
}
.orange {
	border: 1px solid #F19930;
	box-shadow: 0 3px 3px #666666;
	background: #fff;
}
.orange .click {
	color: #F19930;
}
.orange h2 {
	color: #F19930;
}
.green {
	border: 1px solid #94BE36;
	box-shadow: 0 3px 3px #666666;
	background: #fff;
}
.green .click {
	color: #94BE36;
}
.green h2 {
	color: #94BE36;
}
.limg {
	left: 0px!important;
	top: 20px!important;
}
.rimg {
	right: 18px!important;
	top: 20px!important;
}/*signup page*/
.add-carousel {
	width: 500px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	  height: 83px;
	position: relative;
	overflow: hidden;
}
#add-carousel-wrap li {
	list-style-type: none;
	float: left
}/* start carousel */
.jcarousel-skin-ie7 .jcarousel-container {
}
.jcarousel-skin-ie7 .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-ie7 .jcarousel-container-horizontal {
	padding: 2px 38px;
}
.jcarousel-skin-ie7 .jcarousel-container-vertical {
	width: 75px;
	height: 245px;
	padding: 40px 20px;
}
.jcarousel-skin-ie7 .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
	width: 420px;
}
.jcarousel-skin-ie7 .jcarousel-clip-vertical {
	width: 75px;
	height: 245px;
}
.jcarousel-skin-ie7 .jcarousel-item {
}
.jcarousel-skin-ie7 .jcarousel-item-horizontal {
	width: 440px;
}
.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-ie7 .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-ie7 .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}/*Horizontal Buttons*/
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	position: absolute;
	right: 0px;
	top: 0;
	width: 38px;
	height: 80px;
	cursor: pointer;
	background: transparent url(../images/buttons/carousel-arrow-right.png) no-repeat 0 0;
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	position: absolute;
	top: 0;
	left: 5px;
	width: 38px;
	height: 80px;
	cursor: pointer;
	background: transparent url(../images/buttons/carousel-arrow-left.png) no-repeat 0 0;
}
#carousel-wrapper-2 .green {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #94be36;
	box-shadow: 0 3px 3px #666666;
}
#carousel-wrapper-2 .orange {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #f19930;
	box-shadow: 0 3px 3px #666666;
}
#carousel-wrapper-2 .purple {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #a14b93;
	box-shadow: 0 3px 3px #666666;
}
/* -----------------------------------------------------------------------------
    Footer
------------------------------------------------------------------------------*/
hr {
	margin: 20px 10px;
	border: 1px solid #808080;
}
#w3c {
	border-top: 2px solid #8b8b8b;
	float: left;
	width: 80px;
	margin: 10px 10px 10px 10px;
	border-bottom: 2px solid #8b8b8b;
}
#links-1, #links-2, #links-3 {
	float: left;
	margin: 10px;
}
#links-1 a, #links-2 a, #links-3 a {
	text-decoration: none;
	color: #999999;
}
#links-1 a:hover, #links-2 a:hover, #links-3 a:hover {
	color: #00acce;
}
#contact-details {
	color: #999999;
	float: left;
	margin: 10px 25px;
}
#contact-details a {
	text-decoration: none;
	color: #999999;
}
#social {
	float: right;
	margin-left: 20px;
}
#social div {
	float: left;
	margin: 10px;
}